
* {
  margin: 0px;
  padding: 0px;
}
#sidebar p{
  color: beige;
  font-size: 13px ;
  text-align: left;
  text-indent: -4px;
}
#sidebar h1{
  color: beige;
  text-decoration-line: underline;
  font-style: italic;
  font-size: 30px;

}
#sidebar {
  position: fixed;
  width: 225px;
  height: 100%;
  background: #151719;
  left: -225px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}


#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto; 
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid #000;
}
#bleeding{
  padding-left: 30px;
}
body{
    background-color: beige;     
  }
header h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
  background-color: beige;
  text-decoration-line: underline ;
}

body p{  text-align: center;
    font-size: 18px; 
    font-family: Arial;
    text-indent: 1.8em; }


h2
{
  font-family: sans-serif;
  background-color: black;
  color: white;
  padding-left: 5px;
  clear: left;
  text-align: center;
}
     
div{
  font-family: sans-serif;
  background-color: beige;
 
}
h3{
  font-family: Arial;
}

e{
  color: rgb(127, 134, 63);
  text-decoration-line: underline;
  font-style: italic
}
img {
  position: relative;
  margin-bottom: 15px;
  margin-right: 10px;}
  
#table1 table {
    width: 100%;
    border: 1px solid #000;
 }
#table1 th, td {
        text-align: left;
    vertical-align: top;
    border: 1px solid #000;
 }
 footer{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  clear: both;
  background: gray ;
  text-align: center;
  color: beige;
}
footer img{
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}
li p img{
  position: relative;
  float: left;
  
}