body{background-color: beige;
}

h1
{
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
  background-color: beige;
  text-decoration-line: underline ;
}

p{  text-align: center;
    font-size: 18px; 
    font-family: Arial;
    text-indent: 1.8em; }


h2
{
  font-family: sans-serif;
  background-color: black;
  color: white;
  padding-left: 5px;
  clear: left;
}
body{
    border:solid 1px;
    padding: 10px;
    width:100%;
    margin: 0 auto;
     }
     
div{
  font-family: sans-serif;
  background-color: beige;
 
}
h3{
  font-family: Arial;
    text-indent: 1.0em;
}
datos{
  color: rgb(114, 107, 41)
}
e{
  color: rgb(127, 134, 63);
  text-decoration-line: underline;
  font-style: italic
}
img {
  float: right;
  position: relative;
  margin-bottom: 15px;
  margin-right: 10px;}